.hidden{
	display: none;
}

.note{
	/* display: inline-block; */

	/* position: absolute; */
	/* left:0; */
	/* top:0; */
	/* transform:translate(0px, 0px,); */

	margin: 10px;

}
.note-data{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: rgb(255, 246, 193); */
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(184, 184, 184);
	padding: 15px;
	min-height: 220px;
	width: 280px;
	border-radius: 8px;
}
.note-data:hover{
	box-shadow: 0px 0px 7px rgb(102, 102, 102);
	transition: 0.3s;
}

.note-header{
	
	display: flex;
	justify-content: space-between;
	font-weight: 900;
	opacity: 90%;
}
#note-title{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 1px 0;
	height: 22px;
}
#note-text{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	font-style:italic;
	line-height: 18px;
	opacity: 90%;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.note-btn{
	display: flex;
	align-items: center;
	opacity: 0%;
	z-index: -1;
	/* display: none; */
}

.note-edit{
	margin-right: 10px;
	background-color: hsla(176, 100%, 53%, 0);
}
.note-delete{
	
	background-color: hsla(176, 100%, 53%, 0);
}

.note-edit img{
	width: 22px;
	opacity: 50%;
}
.note-delete img{
	width: 22px;
	opacity: 50%;
}

.note-edit img:hover{
	opacity: 75%;
	transition: 0.3s;
}
.note-delete img:hover{
	opacity: 75%;
	transition: 0.3s;
}

.note-date{
	font-size: 13px;
	opacity: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 5px;
}