*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*----------------------------------*/

.container {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: auto;
	min-height: 100%;
	height: auto;
	background-color: rgb(255, 244, 180);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.project__body {
	width: 1400px;
}
.project__header {
	padding: 10px;
}
.project__title{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-size: 25px;
	color: rgb(104 98 64);;
	margin-bottom: 15px;
}
.search{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.search input{
	width: 95%;
	max-width: 700px;
	height: 30px;
	border: 2px solid rgb(187, 176, 115);
	border-radius: 6px;
	font-size: 16px;
	box-shadow: 0px 0px 8px black;
	background-color: rgb(255, 246, 199);
	padding: 10px;
}

.column__body {
	display: flex;
	/* flex-direction: row-reverse; */
	flex-wrap: wrap;
	justify-content: center;
	padding: 3px 0px 30px 0px;
}

/*---------CART---------*/
.hidden{
	display: none;
}

.note{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 0px 5px black;
	background-color: rgb(255, 240, 153);
	border: 2px solid rgb(187, 176, 115);
	padding: 15px;
	margin: 4px;
	border-radius: 8px;
	min-height: 200px;
	height: auto;
	min-width: 280px;
	flex-basis: 24%;
}

.note-header{
	display: flex;
	justify-content: space-between;
	font-weight: 900;
	font-size: 22px;
	margin-bottom: 20px;
	opacity: 90%;
}
#note-text{
	font-size: 18px;
	font-style:italic;
	line-height: 25px;
	opacity: 90%;
}

.note-btn{
	display: flex;
	align-items: center;
	display: none;
}

.note-edit{
	margin-right: 10px;
	background-color: hsla(176, 100%, 53%, 0);
}
.note-delete{
	
	background-color: hsla(176, 100%, 53%, 0);
}

.note-edit img{
	width: 22px;
	opacity: 50%;
}
.note-delete img{
	width: 22px;
	opacity: 50%;
}

.note-edit img:hover{
	opacity: 75%;
}
.note-delete img:hover{
	opacity: 75%;
}

.textare-note{
	resize: none;
	background-color: hsla(176, 100%, 53%, 0);
	height: auto;
	width: 100%;
	font-size: 18px;
	font-style:italic;
	line-height: 25px;
}

/* #note-title-input{
	background-color: rgb(255, 240, 153);
	height: 30px;
	width: 100%;
	font-weight: 900;
	font-size: 22px;
}
#note-textarea{
	background-color: rgb(255, 240, 153);
	height: 70%;
	width: 100%;
	font-size: 18px;
	font-style:italic;
	line-height: 25px;
} */

.note-date{
	font-size: 13px;
	opacity: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 5px;
}

/*---------BTN---------*/
.add__btn{
	position: fixed;
	bottom: 0;
	right: 0;

	margin: 3%;
	width: 50px;
	height: 50px;
	font-size: 50px;
	box-shadow: 0px 0px 10px black;
	background-color: rgb(255, 240, 153);
	border: 2px solid rgb(187, 176, 115);
	border-radius: 8px;
	color: rgb(114, 107, 70);

	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}

.add__btn:hover{
	background-color: rgb(163, 152, 100);
	color: rgb(255, 240, 153);
}


/* Повідомлення для підтвердження видалення */
.window-box{
	width: 100%;
	min-height: 100%;
	height: auto;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.950);
}
.messga-box{
	margin: 0;
	position: fixed;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.del-win {
	font-size: 20px;
	font-weight: 900;
	display: inline-block;
	background-color: rgb(255, 240, 153);
	border: 2px solid rgb(133, 125, 82);
	padding: 10px;
	margin: 8px;
	border-radius: 8px;
	width: 300px;
	text-align: center;
}
.del-win p{
	margin: 5px 10px 20px 10px;
}
.del-win-btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
}

.del-win-btn button{
	width: 105px;
	font-weight: 900;
	box-shadow: 0px 0px 5px rgb(0, 0, 0);
	background-color: rgb(197, 186, 123);
	border: 2px solid rgb(156, 148, 98);
	border-radius: 6px;
	padding: 5px;
	font-size: 16px;
}

.del-win-btn button:hover{
	background-color: rgb(236, 223, 150);
}


/* EDIT window */
.note-edit-window{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	background-color: rgb(255, 240, 153);
	border: 2px solid rgb(187, 176, 115);
	padding: 15px;
	border-radius: 8px;
	min-height: 85%;
	height: auto;
	width: 94%;
}

.win-note-header{
	display: flex;
	/* justify-content: space-between; */
	flex-direction: column;
	font-weight: 900;
	font-size: 22px;
	margin-bottom: 20px;
}

.div-btn{
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.win-note-btn{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.win-note-exit{
	background-color: hsla(176, 100%, 53%, 0);
	display: flex;
	align-items:center;
}
.win-note-save{
	margin-right: 20px;
	background-color: hsla(176, 100%, 53%, 0);
}
.win-note-skin{
	margin-right: 20px;
	background-color: hsla(176, 100%, 53%, 0);
}
.win-note-delete{
	
	background-color: hsla(176, 100%, 53%, 0);
}

.win-note-exit img{
	width: 28px;
	opacity: 50%;
}
.win-note-save img{
	width: 28px;
	opacity: 50%;
}
.win-note-skin img{
	width: 28px;
	opacity: 50%;
}
.win-note-delete img{
	width: 28px;
	opacity: 50%;
}

.win-note-exit:hover{
	opacity: 75%;
}
.win-note-save img:hover{
	opacity: 75%;
}
.win-note-skin img:hover{
	opacity: 75%;
}
.win-note-delete img:hover{
	opacity: 75%;
}


#win-note-title-input{
	resize: none;
	background-color: hsla(176, 100%, 53%, 0);
	height: 30px;
	width: 100%;
	font-weight: 900;
	font-size: 22px;
}
#win-note-textarea{
	resize: none;
	background-color: hsla(176, 100%, 53%, 0);
	height: 530px;
	width: 100%;
	font-size: 18px;
	font-style:italic;
	line-height: 25px;
}
.note-content{
	height: 100%;
	width: 100%;
}

/* Вікно вибору скіна нотатки */
.skin-win {
	font-size: 20px;
	font-weight: 900;
	display: inline-block;
	box-shadow: 3px 3px 10px black;
	background-color: rgb(255, 240, 153);
	border: 3px solid rgb(187, 176, 115);
	padding: 10px;
	margin: 8px;
	border-radius: 10px;
	width: 260px;
	text-align: center;
}
.skin-win-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.skin-win-btn button{
	margin-top: 20px;
	width: 45px;
	height: 45px;
	font-weight: 900;
	box-shadow: 0px 0px 8px black;
	border-radius: 5px;
}
.red {
	background-color: lightcoral;
	border: 3px solid rgb(173, 102, 102);
}
.blue {
	background-color: lightblue;
	border: 3px solid rgb(130, 130, 211);
}
.green {
	background-color: lightgreen;
	border: 3px solid rgb(118, 167, 118);
}
.pink {
	background-color: lightpink;
	border: 3px solid rgb(255, 156, 173);
}

.img-note-skin{
	width: 30px;
	height: auto;
	opacity: 70%;
}
.skin-dont-btn button{
	margin: 10px 0px 0px 0px;
	width: 100%;
	font-weight: 900;
	box-shadow: 0px 0px 8px black;
	background-color: rgb(197, 186, 123);
	border: 3px solid rgb(187, 176, 115);
	border-radius: 5px;
	padding: 5px;
}